* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/*Top Banner Start*/

#top-banner {
    background-image: url(./images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 1440px;
    height: 669px;
    padding-right: 6.25%;
    padding-bottom: 5%;

}

.center {
    color: white;
    text-align: center;
    padding-top: 15rem;
}

.center h1 {
    font-size: 4rem;
}

.center p {
    padding-top: 1rem;
}

#donate-button {
    position: absolute;
    top: 70%;
    left: 41%;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #ff5959;
    font-size: 24px;
}

/*Top Banner End*/

/*Donate Today Start*/

.center-donate-today {
    text-align: center;
    padding-top: 8rem;
}

.center-donate-today h1 {
    font-size: 50px;
    padding-bottom: 1rem;
}

.center-donate-today p {
    font-weight: 200;
}

.cards {
    display: inline-block;
    border: 2px;
    margin: 15px;
    padding: 50px;
    border-radius: 5px;
    background-color: whitesmoke;
    font-size: 32px;
}

#ractangle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#marked-card {
    border: 2px solid #ff5959;
    background-color: #f5cccc;
    color: #ff5959;
}

#enter-amount {
    display: block;
    justify-content: center;
    padding-left: 19%;
    margin: 30px;
}

input[type=text] {
    width: 75%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gray;
    text-align: center;
    font-size: 30px;
    color: lightslategray;
}

#center-lower-button {
    display: flex;
    justify-content: center;
}

#lower-button {
    position: absolute;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #ff5959;
    font-size: 24px;
    text-decoration: none;
}

/*Donate Today end*/

/*thre cards start*/
#donate-plan {
    display: block;
    text-align: center;
    margin-top: 10rem;
}

#donate-plan h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

#center-cards {
    display: flex;
    justify-content: center;
    margin: 150px;
}

.big-card {
    margin: 10px;
    padding: 20px;
    padding-bottom: 63px;
    border-radius: 5px;
}

.reposition-icon {
    padding: 30px;
}

#center-cards h2 {
    padding: 20px;
}

#center-cards p {
    padding: 20px;
}

#light-blue {
    background-color: #4F9DA61A;
}

#light-pink {
    background-color: #FF59591A;
}

#light-yellow {
    background-color: lightgoldenrodyellow;
}

/*three cards end*/

/*Side by side start*/

.side-b-side {
    display: flex;
    justify-content: center;

}

.side-b-side img {
    width: 456px;
    height: 477px;
    left: 732px;
    top: 2078px;
    border-radius: 10px;
}

#side-b-side-text {
    display: block;
    width: 456px;
    height: 477px;
    left: 732px;
    top: 2078px;
}

#side-b-side-text h1 {
    padding-top: 30px;
    padding-right: 35px;
    font-size: 50px;
}

#side-b-side-text p {
    padding: 30px;
    padding-left: 0;
}

#third-button {
    position: absolute;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #ff5959;
    font-size: 24px;
    text-decoration: none;
}

/*Side by side end*/

/*Gallery start*/
#text {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 20px;
    margin-top: 60px;
    font-size: 40px;
}

#gallery {
    display: flex;
    justify-content: center;
}

#gallery img {
    height: 150px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/*Gallery end*/

/*email start*/
#email-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    margin-top: 50px;
}

#email-text h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#yellow-back {
    display: flex;
    justify-content: center;
    background-color: #FFF4D6;
    border: 1px;
    width: 809px;
    height: 200px;
    left: 316px;
    top: 3442px;
    margin-left: 23%;
}

#input {
    display: flex;
    justify-content: center;
}

#subscribe {
    position: absolute;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ff5959;
    font-size: 18px;
    text-decoration: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#mail {
    padding: 10px 15px;
    border-radius: 5px;
    width: 250px;
    align-items: center;
    background-color: gainsboro;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
    padding-bottom: 17px;
}

#mail-form {
    padding-right: 30%;
    padding-top: 35%;
}

/*email end*/

footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: 20px;
    background-color: black;
    color: #ff5959;
}

footer p {
    display: block;
    position: relative;
}